*.pyc
*~
__pycache__
db.sqlite3
/MONET_WEB_BRAIN/static
.DS_Store
.vscode
/MONET_WEB_BRAIN/uploads
/MONET_WEB_BRAIN/game/templates/game/researchers
/MONET_WEB_BRAIN/researcher/templates/researcher/researchers
secret.txt
secrets.json
settings.py
*.swp
