[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
python-dateutil = "*"
"psycopg2" = "*"
tensorflow = "*"
keras = "*"
pandas = "*"
pillow = "*"
scikit-learn = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
