<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>login</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  </head>
  <body>
      <div class="main_control fixed" >
          <div class="container-fluid" style="padding:100px; background-color: black;color:white;">
              <div class="row">
                  <div class="col-md-12" style="text-align: center; ">
                      <h1 >
                          <b>Your Experiments</b> 
                      </h1>
                      <h2>
                          Customize your own projects!
                      </h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-10">
                      
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                      <button type="button" class="btn btn-success" onclick="window.location.href='/researcher/logout/'">
                          logout
                      </button>
                  </div>
              </div>

          </div>
          <div class="container-fluid" style="margin: 10px;">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                  <div class="form">
                      <form class="login-form" action = "/researcher/{{researcher_name}}/upload/" method="post" enctype="multipart/form-data" novalidate>
                      <!--
                      <input name = "name" type="text" placeholder="NAME"/>
                      <input name = "password" type="password" placeholder="password"/>
                      -->
                      {{ form.as_p }}
                      <button>start</button>
                    </form> 
                  </div>      
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <a href="/researcher/{{researcher_name}}/"><h5>Go to see my experiments</h5></a>
                </div>
    
            </div>

          </div>
    </div>
  </body>
</html>
