
{% extends 'game/base.html' %}
{% load static %}
{% block styling %}
{% endblock styling %}

{% block content %}

연구 제목: 모바일 웹 기반 인지신경심리 검사 기법 평가 및 행동 데이터베이스 구축
<br>
연구 책임자: 연세대학교 의과대학 핵의학교실 교수 박해정
<br>
이 설명문은 이 연구에 대한 귀하의 이해를 돕기 위해 마련된 것이고, 이 연구에 대한 자세한 내용을 담고 있으니 이 설명문을 읽고 충분히 이해하고 생각하신 후에 참여 여부를 결정해주시기 바랍니다.
<br>
연구는 아직까지 명확하게 확인되지 않은 부분을 알아보기 위한 목적에서 이루어지는 것입니다. 그러므로 귀하께서는 이 연구에 참여할 지 여부를 결정하기에 앞서, 이 연구의 목적과 절차, 어떤 사람들이 이 연구에 참여하는지, 이 연구에 참여할 때 기대할 수 있는 이익과 위험하거나 불편한 점은 무엇인지 등에 대하여 충분히 설명을 듣고 이해하시는 것이 중요합니다. 
<br>
귀하께서 자발적으로 동의하여 동의서를 작성하시는 경우에 연구에 참여하실 수 있으며 귀하께서는 이 연구에 참여하지 않기로 결정할 수도 있습니다. 참여하지 않기로 결정하더라도 귀하에게 어떠한 불이익도 없을 것입니다. 
<br>
1. 연구 배경과 목적 
<br>
본 연구는 과학기술정보통신부에서 지원하는 ‘모바일 웹 기반 인지신경심리 검사 기법 평가 및 행동 데이터베이스 구축 ' 연구의 일부로, 연세대학교 의과 대학에서 청소년 및 대학생의 인지 조절력, 정서 및 사회성, 자아 인식을 알아보기 위해 개발한 게임 연구입니다. 인지 조절력이란 자신의 생각과 행동을 상황에 맞게 조절하고 효율적으로 적응해 나가는 능력으로, 청소년 및 대학생들이 생활 속 (집, 학교, 친구들과의 관계 등)에서 겪는 상황들과 밀접한 연관이 있습니다. 그러나 인지 조절의 어려움을 본인이 가지고 있는지는 객관적으로 판단하기 어려울 뿐 아니라, 객관적인 평가를 받기 위해서는 전문 기관을 방문해서 전문 평가를 받아야 합니다. 그러나 이러한 서비스는 매우 제한적인 경우에만 활용되고 있습니다. 이러한 배경에서 본 연구는 모바일 웹 기반 어플리케이션 게임을 통해 자신의 인지 조절력, 정서 및 사회성, 자아 인식을 알아볼 수 있도록 하였습니다. 
<br>
2. 대상자의 수, 기간과 장소 
<br>
이 연구는 연세대학교 의과대학 핵의학과에서 진행하는 연구로서, 국내에서 5000명 이상의 온라인 사용자가 등록될 예정입니다. 이 연구의 총 예상 기간은 약 3년입니다.
<br>
3. 연구의 절차 및 방법
<br>
이 연구 참여에 동의를 하게 되면, 귀하는 모바일 웹 기반 어플리케이션을 통해서 다양한 게임을 하게 될 것입니다. 각 게임 전 제시되는 지시문을 통해 게임을 플레이하는 방법이 자세히 설명될 것이고, 실제 게임을 하기 전 연습게임을 하여 게임 방법을 숙지하게 됩니다. 여러분은 게임을 한 번에 다 마칠 수도 있고, 쉬었다가 다시 플레이를 할 수도 있습니다. 모든 게임을 모두 마치는데 까지 드는 총 소요 시간은 약 1시간 정도입니다. 
<br>
4. 연구에 참여하여 기대할 수 있는 이익 
<br>
귀하가 이 어플리케이션에서 제공되는 모든 게임의 플레이를 마치고 나면, 각각의 게임들이 어떠한 인지조절력을 검사하는 게임인지, 뇌의 어떤 영역에 관여되어 있는지 등에 대한 설명을 보실 수 있습니다. 또한 자신의 현재 인지 기능, 심리 및 정서 상태에 대한 간략한 결과를 받을 수 있습니다. 제시되는 결과는 어디까지나 참고자료이며, 세밀한 검사를 받는 후속 프로그램에 지원하실 수 있습니다. 
<br>
연구 참여로 인해 직접적인 이익은 없으나 궁극적으로 귀하의 참여는 효과적인 인지 조절력 평가 프로그램을 개발하는데 큰 도움이 될 것입니다. 
<br>
5. 연구에 참여하여 예상되는 위험 및 불편 
<br>
이 연구에서 포함하고 있는 게임들은 기존의 많은 연구들에 사용되었던 과제들을 토대로 하고 있으므로 큰 잠재적 위험은 없습니다. 그럼에도 게임을 플레이 하는 도중 불편감 (어지러움, 눈의 피로 등)이 있을 시 언제든지 중단, 휴식을 취할 수 있으며 이에 따른 불이익은 전혀 없습니다. 
<br>
6. 연구 참여에 따른 비용 및 사례비 
<br>
본 연구 참여에 드는 비용이나 사례비는 없습니다.
<br>
7. 정보 수집 및 제공 
<br>
본 연구에서는 귀하의 게임 결과 데이터를 획득할 것입니다. 연구의 목적으로 수집된 자료는 신원을 확인할 수 없도록 암호화되어 처리되고 연구 외의 다른 용도로는 사용되지 않을 것입니다. 
<br>
8. 연구 참여에서의 중도 탈락 
<br>
귀하는 연구에 참여하신 후에도 불편함을 느낄 시 (피로, 어지러움 등) 언제든지 도중에 그만 둘 수 있습니다. 이런 경우, 귀하의 자료는 추후 자료 분석에 부분적으로 포함될 수 있습니다. 
<br>
9. 개인정보 및 기록에 대한 비밀보장 
<br>
귀하께서 본 연구에 참여하시는 동안에 수집되는 귀하의 기록은 개인 정보를 식별할 수 없도록 코드화 되어 접근이 제한된 컴퓨터에 저장될 것입니다. 연구의 결과가 보고서로 작성되거나 출판, 또는 발표되는 경우에도 귀하의 신원을 파악할 수 있는 기록은 비밀 상태로 유지될 것입니다. 연구에 사용된 자료들은 연구 목적으로 연구에 관련된 사람들에게는 비식별화된 형태로 공유될 수 있습니다. 
<br>
본 연구를 모니터/점검하는 자, 연구심의위원회(IRB)는 귀하의 비밀 보장을 침해하지 않고 관련 규정이 정하는 범위 안에서 연구의 실시 절차와 자료의 신뢰성을 검증하기 위해 귀하의 기록을 직접 열람할 수 있습니다. 귀하께서는 본 동의서 서식에 서명함으로써 귀하 또는 귀하의 법정대리인이 이러한 자료의 직접 열람을 허용하시게 됩니다.
<br>
연구 관련 자료는 종료 후 3년간 보관되고, 비식별화되어 분석에 사용되는 자료를 제외한 귀하의 개인 정보 관련 자료는 3년 경과 후 폐기됩니다. 
<br>
10. 참여/철회의 자발성 
<br>
귀하께서는 이 연구에 참여할 수도 있고 참여하지 않을 수도 있습니다. 또한 중간에 언제라도 연구 참여를 그만 둘 수 있습니다. 
<br>
11. 연락처 
<br>
이 연구에 관하여 궁금한 점이 있거나 연구와 관련이 있는 상해가 발생한 경우에는 아래의 연락처로 연락하여 주십시오.
<br>
연세대학교 의과대학 핵의학교실 MoNET 연구실
<br>
주소: 120-752 서울특별시 서대문구 연세로 50-1
<br>
이메일: monet.brain@gmail.com
<br>
☎ 02-2228-4869
<br>
대상자로서 여러분의 권리에 대하여 질문이 있는 경우에는 연구자에게 말씀하시거나, 다음의 번호로 문의하실 수 있습니다. 
<br>
세브란스병원 연구심의위원회 ☎ 02-2228-0430~5
<br>
세브란스병원 임상연구보호센터 ☎ 02-2228-0450~4
<br>
모든 설명을 읽고 이 연구에 참여하기로 결정하였다면 아래의 동의서에 체크표시를 해 주세요. 
<br>

본인은 모바일 웹 기반 인지신경심리 검사 기법 평가 및 행동 데이터베이스 구축 연구의 목적, 방법, 기대 효과, 가능한 위험성의 유무 및 내용 등에 대하여 충분한 설명을 읽고 이해하였습니다. 
<br>
본인은 충분한 시간을 갖고 생각한 이후에 본인은 상기 연구에 참여하기를 자유로운 의사에 따라 동의합니다. 
<br>

<a class="btn btn-primary btn-lg" href="{% url 'game:i_agree' %}" role="button">동의합니다</a>

{% endblock content %}
