<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>login</title>

  </head>
  <body>
      <div class="form">
          <form class="login-form" action = "/researcher/{{researcher_name}}/upload/" method="post" enctype="multipart/form-data" novalidate>
          <!--
          <input name = "name" type="text" placeholder="NAME"/>
          <input name = "password" type="password" placeholder="password"/>
          -->
          {{ form.as_p }}
          <button>start</button>
        </form> 
      </div>
      <a href="/researcher/{{researcher_name}}/">Go to see my experiments</a>
  </body>
</html>
