{% extends 'game/base.html' %}
{% load static %}
{% block styling %}
<style>
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;

        margin-top: 100px;
    }
    .content {
        width: 500px;
    }

    .button {
        width: 150px;
        height: 150px;
        border: 1px solid black;
    }

    a:visited {
        opacity: 0.5;
    }

    a:hover {
        opacity:0.5;
    }

    @media (max-width: 767px) {
        .content {
            width: 80%;
        }
        .button {
            width: 32%;
        }
    }
</style>
{% endblock styling %}

{% block content %}
<a href="{% url 'game:game' 'gonogo' %}"><img class="button" src="{% static 'game/images/brainmap/gonogo.png' %}"></a>
<a href="{% url 'game:game' 'cardsort' %}"><img class="button" src="{% static 'game/images/brainmap/cardsorting.png' %}"></a>
<a href="{% url 'game:game' 'digitnback' %}"><img class="button" src="{% static 'game/images/brainmap/o13.png' %}"></a>
<a href="{% url 'game:game' 'imagenback' %}"><img class="button" src="{% static 'game/images/brainmap/o21.png' %}"></a>
<a href="{% url 'game:game' 'stroop' %}"><img class="button" src="{% static 'game/images/brainmap/stroop.png' %}"></a>
<a href="{% url 'game:game' 'balloon' %}"><img class="button" src="{% static 'game/images/brainmap/o23.png' %}"></a>
<a href="{% url 'game:game' 'stroop2' %}"><img class="button" src="{% static 'game/images/brainmap/o31.png' %}"></a>
<a href="{% url 'game:which_game' %}"><img class="button" src="{% static 'game/images/brainmap/o32.png' %}"></a>
<a href="{% url 'game:which_game' %}"><img class="button" src="{% static 'game/images/brainmap/o33.png' %}"></a>
{% endblock content %}
